{% extends 'base.html' %}

{% block title %}
Orders
{% endblock %}

{% block content %}
{% if order.customer_id == user_id %} 
<h1>Confirm Your Order</h1>
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for orderline in order.orderlines %}
                <tr>
                    <td>{{ orderline.item.name }}</td>
                    <td>
                        {% if orderline.item.weight %}
                            {{ orderline.item.weight }}
                        {% else %}
                            {{ orderline.item.quantity }}
                        {% endif %}
                    </td>
                    <td>${{ "$%.2f" | format(orderline.item.price) }}</td>
                    <td>${{ "$%.2f" | format(orderline.item.calculate_subtotal()) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Amount: {{ "$%.2f" | format(total) }}</h3>
    <form action="{{ url_for('order.confirm_order', order_id=order.id) }}" method="POST">
        <button type="submit">Confirm Order</button>
    </form>
    {#<a href="{{ url_for('customer.edit_order') }}">Edit Order</a> #}
{% endif %}
{% endblock %}