{% extends 'base.html' %}

{% block title %}
Orders
{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <div class="d-flex justify-content-between mt-2 mb-3 me-4">
        {% if role in ('customer', 'corporate_customer') %}
            <h3>My Orders</h3>
        {% elif role == 'staff' %}
            <h3>Orders</h3>
        {% endif %}
        <div class="d-flex">
            <div class="me-2">
                <!-- Search Form -->
                <!-- <form action=""method="get">
                    <div class="input-group mb-3">
                        <input class="form-control" name="search_query" placeholder="Email" type="text"
                               value="">
                        <div class="input-group-prepend">
                            <button class="btn btn-warning" type="submit">
                                <i class="bi bi-search"></i> Search
                            </button>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
    <div class="table-responsive me-4">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr class="text-center">
                    <th scope="col">Date</th>
                    <th scope="col">Order No.</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr class="text-center">
                    <td>{{ order.date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ order.id }}</td>
                    <td>{{ "Delivery" if order.is_delivery else "Pickup" }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        {% if role == 'staff' %}
                            <a class="btn btn-primary btn-sm me-2"
                            href="{{ url_for('staff.view_order', order_id=order.id) }}">
                                Details
                            </a>
                            {% if order.status not in ('Pending', 'Completed', 'Cancelled') %}
                                {% include 'staff/order/update.html' %}
                            {% endif %}
                        {% endif %}
                        {% if role in ('customer', 'corporate_customer') %}
                            <a class="btn btn-primary btn-sm me-2"
                            href="{{ url_for('order.view_order', order_id=order.id) }}">
                                Details
                            </a>
                            {% if order.status == 'Pending' %}
                            <!-- add confirm order button for order that is not submitted -->
                            <a class="btn btn-success btn-sm me-2"
                                href="{{ url_for('order.check_out', order_id=order.id) }}">
                                Pay Now
                            </a>
                            {% endif %}
                            {% if order.status in ('Pending', 'Confirmed') %}
                                {% include 'customer/order/cancel.html' %}
                            {% endif %}
                            
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}