<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid ms-2 me-2">
        <!-- Homepage -->
        <a class="navbar-brand" href="{{ url_for('store.index') }}">
            <h3 style="font-family: 'Ubuntu', serif;
            font-weight: 700;
            font-style: italic;">Fresh Harvest Grocer</h3>
            <!-- <h3 class="ubuntu-regular-italic">Fresh Harvest Grocer</h3> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Show the links on navbar if role in session -->
                {% if role %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('store.dashboard') }}">
                        Dashboard
                    </a>
                </li>    
                <!-- customer navbar links  -->
                {% if role in ("customer", "corporate_customer") %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('customer.list_veggies') }}">
                        Vegetables
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('customer.list_premade_boxes') }}">
                        Premade Boxes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('order.create_order') }}">
                        New Order
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('order.list_orders') }}">
                        My Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('customer.profile') }}">
                        Profile
                    </a>
                </li>
                {% endif %}
                <!-- staff navbar links  -->
                {% if role == "staff" %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('staff.list_orders') }}">
                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('staff.list_veggies') }}">
                        Vegetables
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('staff.list_premade_boxes') }}">
                        Premade Boxes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('staff.list_customers') }}">
                        Customers
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="{{ url_for('staff.profile') }}" id="reportDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reports
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="reportDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('report.sales_report') }}">Sales Report</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('report.most_popular_item') }}">Most Popular Item</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('staff.profile') }}">
                        Profile
                    </a>
                </li>
                {% endif %}
                <!-- logout link (only for login user) -->                                
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('store.logout') }}">
                        <i class="bi bi-box-arrow-right me-2"></i>Logout
                    </a>
                </li>
                {% else %}
                <!-- login link (when no user in session) -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('store.login') }}">
                        <i class="bi bi-box-arrow-in-right me-2"></i>Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>