{% extends "base.html" %}

{% block title %}
Premade Boxes
{% endblock %}

{% block content %}
<div class="container p-2">
    <!-- Display all Premade Boxes-->   
    <div class="row">
        <div class="col-lg-8 mx-auto p-2">
            <!-- Title -->
            <div class="d-flex justify-content-between mb-2 me-4">
                <h3>
                    Premade Boxes
                </h3>
            </div>
            {% for box in boxes %}
            <div class="card mb-2">
                <h5 class="card-header bg-primary text-white">
                    {{ box.size | title }} Box - {{ "$%.2f" | format(box.price) }}
                </h5>
                <div class="card-body">
                    {% if role == "staff" %}
                    <h6 class="card-title">
                        Available: {{ "Yes" if box.available else "No"}}
                    </h6>
                    {% endif %}
                    <ol class="list-group list-group-numbered">
                        {% for item in box.components %}
                            <li class="list-group-item">{{ item.vegetable.name }} - {{ item.quantity }} {{ item.vegetable.unit }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>	
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}