{% extends 'base.html' %}

{% block title %}
Vegetables
{% endblock %}

{% block content %}
<div class="container p-2">
    <div class="d-flex justify-content-between mt-2 mb-3 me-4">
        <h3 class="ms-2">Vegetable List</h3>
        <!-- Show filter if role is staff -->
        {%if role == "staff"%}
        <div class="d-flex">
            <div class="me-2">
                <!-- Search Form -->
                <form method="get" action="#" class="d-flex align-items-start">                    
                    <div class="input-group">
                        <select id="available" name="available" class="form-select">
                            <option value="" selected disabled> Filter </option>                            
                            <option value="1" >Available</option>
                            <option value="0" >Unavailable</option>
                        </select>
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-primary">
                                Filter 
                            </button>
                        </div>
                    </div>                
                </form>
            </div>
            <!-- link to show all -->
            <div class="me-2">
                <a href="{{url_for('staff.list_veggies')}}" class="btn btn-primary">
                     View All
                </a>
            </div>
        </div>
        {%endif%}
    </div>
    <div class="table-responsive me-4">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr class="text-center">
                    <th scope="col" style="width:5%;">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Available</th>
                    <th scope="col">Price per unit</th>
                </tr>
            </thead>
            <tbody>
            {% for veggie in veggies %}
                <tr class="text-center">
                    <td>{{ loop.index }}</td>
                    <td>{{ veggie.name | title }}</td>
                    <td>{{ veggie.unit }}</td>
                    <td>{{ "Yes" if veggie.available else "No" }}</td>
                    <td>{{ "$%.2f" | format(veggie.price) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}